

.containerNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
}
